# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\ga_be\OneDrive\Bureau\M1_I2D\code\S1\Game Theory\Nash_Eq\NashEqFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
